<section class="hero">
  <div class="hero-light--right"></div>
  <div class="hero-light--left"></div>

  <!-- <div class="hero-light--circle"></div> -->
  <div class="hero-text">
  <h1 class="heading-big">Spot Tices</h1>
  <h2 class="heading-medium">Share your experiences</h2>
  </div>
  <div class="hero-lights--bottom">
    <div class="hero-light--up"></div>
    <div class="hero-light--up"></div>
    <div class="hero-light--up"></div>
    <div class="hero-light--up"></div>
  </div>
</section>
<section class="about"></section>
